@model SimSala

<i class="close icon"></i>
<div class="header">
    Candidatos da Sala @Model.Sala.Sigla
</div>
<div class="content">
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Inscrição</th>
                <th>CPF</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var candidato in Model.SimCandidato.OrderBy(c => c.Candidato.Nome))
            {
                <tr>
                    <td>@candidato.Candidato.Nome</td>
                    <td>@candidato.NumInscricaoRepresentacao</td>
                    <td>@Formate.ParaCPF(candidato.Candidato.Cpf)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="actions">
    <div class="ui cancel button">Fechar</div>
</div>