<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SIAC Simulados</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <p>Olá, @Model.Nome</p>
    <p>Você solicitou alterar sua senha. <a href="@Model.Url">Clique aqui</a> para alterar ou acesse o endereço abaixo:</p>
    <code>@Model.Url</code>
    <p>Você tem trinta (30) minutos até esse endereço se tornar inválido.</p>
    <p>Caso não tenha sido você, ignore esta mensagem.</p>
    <p>&copy; SIAC Simulados.</p>
</body>
</html>