@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
<div class="ui apresentacao modal">
    <div class="header">@Sessao.UsuarioNome.Split().First(), apresento um pouco sobre o SIAC</div>
    <div class="content">
        <div class="ui grid row">
            <div class="sixteen wide column">
                <h3><i class="icon idea"></i>Ideia principal do SIAC</h3>
                <p style="text-align: justify">Permitir a todos que fazem o IFRN e outras Instituições de Ensino Conveniadas, a criação de uma cultura de aprendizado através de <b>Autoavaliação</b> dos conteúdos didáticos ministrados no IFRN, de tal forma que qualquer pessoa, em qualquer lugar, de forma autônoma e simples e em quantidade ilimitada de utilização da funcionalidade, @*possibilite ao utilizador*@possa verificar o seu real conhecimento sobre qualquer conteúdo didático disponível na base de dados do IFRN.</p>
                <p style="text-align: justify">A outra funcionalidade é a disponibilização de dados à administração para a definição das metas e políticas a serem aplicadas em função da visão e necessidade de todos que fazem a instituição, através de questionários, de preenchimentos obrigatórios ou não, pelos usuários, para possibilitar a criação de índices e o auxílio direto nas tomadas de decisão.</p>
            </div>
            <div class="eight wide column">
                <h4><i class="icon child"></i>Pensando em você</h4>
                <p style="text-align: justify">A qualquer momento você poderá avaliar o real aprendizado de qualquer conteúdo didático, estudado ou não. Isso permitirá o conhecimento dos conteúdos didáticos menos aproveitados, para poder direcionar o conhecimento dos seus estudos para uma prova, um concurso, etc. Tudo isso de forma individual (só para seu conhecimento), confortável, simples, segura e em quantas vezes desejar.</p>
            </div>
            <div class="eight wide column">
                <h4><i class="icon university"></i>Pensando na instituição</h4>
                <p style="text-align: justify">Permitir a instituição de ensino IFRN a criação de um banco de questões de todas as disciplinas cadastradas nas matrizes curriculares de todo os cursos, possibilitando uma economia de tempo e recursos (acadêmicos, financeiros e administrativos), auxiliando nas tomadas de decisões administrativas e políticas em função da criação e aplicação de questionários para o conhecimento das opiniões de todos que fazem a instituição (direções, coordenações, professores, alunos, servidores administrativos e a comunidade externa) sobre qualquer atividade desenvolvida na instituição através de índices gerados pelas análises dos dados das respostas dos questionários.</p>
            </div>
        </div>
         </div>
    <div class="actions">
        <div class="ui approve button">Clique aqui para continuar</div>
    </div>
</div>
