@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model Avaliacao

<div class="ui info message @((Sessao.AjudaEstado)?"":"hidden")" data-ajuda-mensagem>
    <div class="header">
        Ajuda
    </div>
    <ul class="list">
        <li>Aqui em configuração você poderá trocar as atuais questões de sua avaliação por alguma outra equivalente aleatória do sistema.</li>
        <li>O botão <i class="refresh icon"></i> serve para obter uma nova questão do sistema.</li>
        <li>O botão <i class="undo icon"></i> serve para desfazer a sua última alteração, caso tenha feito alguma.</li>
        <li>Não esqueça de confirmar as alterações clicando no botão <b>Salvar</b> ao fim desta página.</li>
    </ul>
</div>

<div class="ui basic segment">
    <h3 class="ui dividing header">Questões</h3>
    <div class="ui one cards">
        @{
            for (int i = 0; i < Model.Questao.Count; i++)
            {
                <div id="CardQuestao@(i)" class="card">
                    @Html.Partial("_QuestaoConfigurar", Model.Questao[i], new ViewDataDictionary { { "Index", i } })
                </div>
            }
        }
    </div>
</div>
<form method="post" action="@Url.Action("Salvar", new { codigo = Model.CodAvaliacao })">
    <div data-html="<div class='header'>Tem certeza?</div><div class='content'><p>Você perderá todos os dados</p><a href='@Url.Action("Detalhe", new { codigo = Model.CodAvaliacao })' class='ui small button'>Sim, cancelar</a></div>" class="ui cancelar button">Cancelar</div>
    <div class="ui button salvar">Salvar</div>
</form>