@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model List<Questao>

<div class="ui parentQuestao vertical segment">
    <div class="ui header dividing">
        Questões
    </div>
    <div class="ui form">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="questao">
                <div class="ui header" style="text-align:justify">
                    @Html.Raw((i.GetIndiceQuestao() + ". " + Model[i].Enunciado).ToHtml("p"))
                </div>

                @if (Model[i].CodTipoQuestao == TipoQuestao.OBJETIVA)
                {
                    List<Alternativa> lstAlternativa = Model[i].AlternativaEmbaralhada;
                    <div class="grouped fields">
                        <label>Marque a alternativa</label>
                        @for (int j = 0; j < lstAlternativa.Count; j++)
                        {
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" />
                                    <label><b>@j.GetIndiceAlternativa()</b>) @lstAlternativa[j].Enunciado</label>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="field">
                        <label>Resposta</label>
                        <textarea></textarea>
                    </div>
                }

                @if (Model[i].QuestaoAnexo.Count > 0)
                {
                    <div class="field">
                        <label>Anexos</label>
                        @foreach (var anexo in Model[i].QuestaoAnexo)
                        {
                            @Html.Partial("_AnexoImpressao", anexo);
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
