@model AvaliacaoGerarViewModel
@{
    ViewBag.Title = "Gerar Avaliação Acadêmica";
}

@Html.Partial("_AvaliacaoGerarModals")

<h2>@ViewBag.Title</h2>

@Html.Partial("_AvaliacaoGerarForm")

@section Scripts {
    @Scripts.Render("~/bundles/js/academica")
}