@{
    ViewBag.Title = "Minhas Avaliações Acadêmicas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    @Scripts.Render("~/bundles/js/academica")
    <script>
        //var jsnAvalAcadGeral;
        //var jsnAvalAcadFiltro;

        //$(document).ready(function () {
        //    window.onbeforeunload = function () { $ajax.abort(); $('.ui.global.loader').parent().addClass('active'); };
        //});

        //$ajax = $.ajax({
        //    url: '/Historico/Avaliacao/Academica/Minhas',
        //    method: 'GET',
        //    success: function (acad) {
        //        jsnAvalAcadGeral = acad;
        //        jsnAvalAcadFiltro = acad;
        //        MinhasAutos();
        //        $('.ui.loading.input > input[type="text"]').prop('disabled', false);
        //        $('.ui.loading.input').removeClass('loading');
        //    },
        //    error: function () {
        //        $('.ui.loading.input').removeClass('loading');
        //    }
        //});

        //function Filtro(strTexto) {
        //    strTexto = strTexto.toLowerCase().trim();
        //    jsnAvalAcadFiltro = [];
        //    for (var i = 0; i < jsnAvalAcadGeral.length; i++) {
        //        if (jsnAvalAcadGeral[i].CodAvaliacao.toLowerCase().indexOf(strTexto) > -1) {
        //            jsnAvalAcadFiltro.push(jsnAvalAcadGeral[i]);
        //        }
        //        else if (jsnAvalAcadGeral[i].DtCadastro.toLowerCase().indexOf(strTexto) > -1) {
        //            jsnAvalAcadFiltro.push(jsnAvalAcadGeral[i]);
        //        }
        //        else if (jsnAvalAcadGeral[i].Dificuldade.toLowerCase().indexOf(strTexto) > -1) {
        //            jsnAvalAcadFiltro.push(jsnAvalAcadGeral[i]);
        //        }
        //        //else if (strTexto == 'arquivo') {
        //        //    if (jsnAvalAcadGeral[i].FlagArquivo == true) {
        //        //        jsnAvalAcadFiltro.push(jsnAvalAcadGeral[i]);
        //        //    }
        //        //}
        //        //else if (strTexto == 'pendente') {
        //        //    if (jsnAvalAcadGeral[i].FlagPendente == true) {
        //        //        jsnAvalAcadFiltro.push(jsnAvalAcadGeral[i]);
        //        //    }
        //        //}
        //        else if (jsnAvalAcadGeral[i].Disciplina.toLowerCase().indexOf(strTexto) > -1) {
        //            jsnAvalAcadFiltro.push(jsnAvalAcadGeral[i]);                        
        //        }
        //    }
        //    MinhasAutos();
        //}

        //function MinhasAutos(pagina) {
        //    $('.ui.cards').parent().addClass('loading');
        //    var qtePorPagina = 9;
        //    var qtePaginacao = 7;
        //    var length = jsnAvalAcadFiltro.length;
        //    if (pagina == null) {
        //        pagina = 1;
        //    }
        //    var count = pagina * qtePorPagina;
        //    if (count > length) {
        //        count = length;
        //    }
        //    $('.ui.cards').html('');
        //    for (var i = ((qtePorPagina * pagina) - qtePorPagina) ; i < count; i++) {
        //        $card = $('<div class="card"></div>').html('\
        //                    <div class="content">\
        //                        <a href="/Historico/Avaliacao/Academica/Detalhe/'+ jsnAvalAcadFiltro[i].CodAvaliacao + '" class="header">' + jsnAvalAcadFiltro[i].CodAvaliacao + '</a>\
        //                        <div class="meta">\
        //                            <span title="'+ jsnAvalAcadFiltro[i].DtCadastro + '">' + jsnAvalAcadFiltro[i].DtCadastroTempo + '</span>\
        //                        </div>\
        //                        <div class="description">\
        //                            <p><b>Turma</b>: '+ jsnAvalAcadFiltro[i].Turma + '</p>\
        //                            <p><b>Quantidade de Questões</b>: '+ jsnAvalAcadFiltro[i].QteQuestoes + '</p>\
        //                        </div>\
        //                    </div>\
        //                ');
        //        $labelsDisc = $('<div class="ui labels"></div>');
        //        $labelsDisc.append('<div class="ui tag label">' + jsnAvalAcadFiltro[i].Disciplina + '</div>');
        //        $extraContent = $('<div class="extra content"></div>').append($labelsDisc);
        //        $card.append($extraContent);
        //        if (jsnAvalAcadFiltro[i].FlagLiberada == true) {
        //            $card.append('<span class="ui attached top right label"><i class="checkmark icon"></i>Realizada</span>');
        //            $card.append('<a href="/Historico/Avaliacao/Academica/Detalhe/' + jsnAvalAcadFiltro[i].CodAvaliacao + '" class="ui button">Resultados</a>');
        //        }
        //        else {
        //            if (jsnAvalAcadFiltro[i].Turma) {
        //                $card.append('<span class="ui attached top right label"><i class="clock icon"></i>Agendada</span>');
        //                $card.append('<a href="/Dashboard/Avaliacao/Academica/Configurar/' + jsnAvalAcadFiltro[i].CodAvaliacao + '" class="ui button">Configurar</a>');
        //            }
        //            else {
        //                $card.append('<a href="/Dashboard/Avaliacao/Academica/Agendar/' + jsnAvalAcadFiltro[i].CodAvaliacao + '" class="ui button">Agendar</a>');
        //            }
        //        }
        //        $('.ui.cards').append($card);
        //    }
        //    $('.ui.pagination.menu').html('');
        //    var i = pagina - 3;
        //    for (i; i <= (Math.ceil(length / qtePorPagina)) - 3 && $('.ui.pagination.menu .item').length < 5; i++) {
        //        if (i < 1) {
        //            continue;
        //        }
        //        if (i == pagina) {
        //            $('.ui.pagination.menu').append('<a class="active item" onclick="MinhasAutos(' + i + ')">' + i + '</a>');
        //            continue;
        //        }
        //        $('.ui.pagination.menu').append('<a class="item" onclick="MinhasAutos(' + i + ')">' + i + '</a>');
        //    }
        //    if ($('.ui.pagination.menu .item').length < 5) {
        //        for (i; $('.ui.pagination.menu .item').length < 5 && i <= (Math.ceil(length / qtePorPagina)) ; i++) {
        //            if (i < 1) {
        //                continue;
        //            }
        //            if (i == pagina) {
        //                $('.ui.pagination.menu').append('<a class="active item" onclick="MinhasAutos(' + i + ')">' + i + '</a>');
        //                continue;
        //            }
        //            $('.ui.pagination.menu').append('<a class="item" onclick="MinhasAutos(' + i + ')">' + i + '</a>');
        //        }
        //        if (pagina == (Math.ceil(length / qtePorPagina))) {
        //            if (!((i - 5) < 1)) {
        //                $('.ui.pagination.menu').prepend('<a class="item" onclick="MinhasAutos(' + (i - 5) + ')">' + (i - 5) + '</a>');
        //            }
        //        }
        //    }
        //    $('.ui.cards').parent().removeClass('loading');
        //}

    </script>
}

<h2>@ViewBag.Title <a class="ui right floated button" href="/Dashboard/Avaliacao/Academica/Gerar">Gerar</a></h2>

<div class="ui stackable grid" style="clear:both">
    <div class="sixteen wide column">
        <div class="ui fluid icon pesquisa input">
            <input type="text" placeholder="Pesquisar..." />
            <i class="search icon"></i>
        </div>
    </div>
    <div class="ten wide column">
        <div class="ui text menu" style="margin-bottom:0">
            <div class="header item">Ordenar</div>
            <a class="active ordenar item" data-ordenar="data_desc">
                Mais recentes
            </a>
            <a class="ordenar item" data-ordenar="data">
                Mais antigos
            </a>
            <div class="header item">Categoria</div>
            <a class="categoria item" data-categoria="realizada">
                Realizada
            </a>
            <a class="categoria item" data-categoria="arquivo">
                Arquivo
            </a>
            <a class="categoria item" data-categoria="agendada">
                Agendada
            </a>
        </div>
    </div>
    <div class="six wide column">
        <div class="ui text menu">            
            <div class="ui dropdown item">
                Disciplina
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="disciplina item active selected" data-disciplina="">Todos</a>
                    @foreach (SIAC.Models.Disciplina disciplina in ViewBag.Disciplinas)
                    {
                        <a class="disciplina item" data-disciplina="@disciplina.CodDisciplina">
                            @disciplina.Descricao
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui basic segment">
            <div class="ui three stackable cards">
            </div>
        </div>
        <div class="ui right floated icon button topo"><i class="icon angle up"></i></div>
    </div>
</div>