<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>SIAC</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dbSIACEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SIAC.Web.Models.dbSIACEntities, SIAC.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="dbb4ddc0cff41b43319b64a50f01243a8cConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=b4ddc0cf-f41b-4331-9b64-a50f01243a8c.sqlserver.sequelizer.com;Initial Catalog=dbb4ddc0cff41b43319b64a50f01243a8c;User ID=ciwhsoztttvycomt;Password=2n7FMCbFxBLwkU7wgUsYX7cwqyYot72WwxZTfBrKsu2p4GHaWB2toL54jHpoLVmz" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbb4ddc0cff41b43319b64a50f01243a8cConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=b4ddc0cf-f41b-4331-9b64-a50f01243a8c.sqlserver.sequelizer.com;Initial Catalog=dbb4ddc0cff41b43319b64a50f01243a8c;User ID=ciwhsoztttvycomt;Password=2n7FMCbFxBLwkU7wgUsYX7cwqyYot72WwxZTfBrKsu2p4GHaWB2toL54jHpoLVmz" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="dbb4ddc0cff41b43319b64a50f01243a8cEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=b4ddc0cf-f41b-4331-9b64-a50f01243a8c.sqlserver.sequelizer.com;Initial Catalog=dbb4ddc0cff41b43319b64a50f01243a8c;User ID=ciwhsoztttvycomt;Password=2n7FMCbFxBLwkU7wgUsYX7cwqyYot72WwxZTfBrKsu2p4GHaWB2toL54jHpoLVmz;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbb4ddc0cff41b43319b64a50f01243a8cEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.dbSIAC.csdl|res://*/Models.dbSIAC.ssdl|res://*/Models.dbSIAC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=b4ddc0cf-f41b-4331-9b64-a50f01243a8c.sqlserver.sequelizer.com;initial catalog=dbb4ddc0cff41b43319b64a50f01243a8c;user id=ciwhsoztttvycomt;password=2n7FMCbFxBLwkU7wgUsYX7cwqyYot72WwxZTfBrKsu2p4GHaWB2toL54jHpoLVmz;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbb4ddc0cff41b43319b64a50f01243a8cConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbb4ddc0cff41b43319b64a50f01243a8cEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbSIACEntities-Web.config Connection String" />
  </ItemGroup>
</Project>