@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@{ 
    int passo = (int)ViewData["Passo"]; 
}

<div class="ui four fluid ordered steps">
    <div class="@(passo > 1 ? "completed" : passo == 1 ? "active" : "") step">
        <div class="content">
            <div class="title">Gerar</div>
            <div class="description">Defina os dados gerais da avaliação</div>
        </div>
    </div>
    <div class="@(passo > 2 ? "completed" : passo == 2 ? "active" : "") step">
        <div class="content">
            <div class="title">Configurar Questões</div>
            <div class="description">Configure as questões da avaliação</div>
        </div>
    </div>
    <div class="@(passo > 3 ? "completed" : passo == 3 ? "active" : "") step">
        <div class="content">
            <div class="title">Agendar</div>
            <div class="description">Agende a avaliação</div>
        </div>
    </div>
    <div class="@(passo == 4 ? "active" : "") step">
        <div class="content">
            <div class="title">Avaliados</div>
            <div class="description">Selecione os avaliados que realizarão a avaliação</div>
        </div>
    </div>
</div>
