@{ 
    int passo = (int)ViewData["Passo"]; 
}

<div class="ui four fluid ordered steps">
    <div class="@(passo > 1 ? "completed" : passo == 1 ? "active" : "") step">
        <div class="content">
            <div class="title">Gerar</div>
            <div class="description">Defina os dados gerais da avaliação</div>
        </div>
    </div>
    <div class="@(passo > 2 ? "completed" : passo == 2 ? "active" : "") step">
        <div class="content">
            <div class="title">Configurar Questões</div>
            <div class="description">Configure as questões da avaliação</div>
        </div>
    </div>
    <div class="@(passo > 3 ? "completed" : passo == 3 ? "active" : "") step">
        <div class="content">
            <div class="title">Agendar</div>
            <div class="description">Agende a avaliação</div>
        </div>
    </div>
    <div class="@(passo == 4 ? "active" : "") step">
        <div class="content">
            <div class="title">Avaliados</div>
            <div class="description">Selecione os avaliados que realizarão a avaliação</div>
        </div>
    </div>
</div>
