@model AvaliacaoGerarViewModel

@{
    ViewBag.Title = "Gerar Certificação";
}

<h2>@ViewBag.Title</h2> 

@Html.Partial("_PassoAPasso", new ViewDataDictionary() { { "Passo", 1 } })

@Html.Partial("_AvaliacaoGerar")

@section Scripts{
    @Scripts.Render("~/bundles/js/certificacao")
}