
@{
    ViewBag.Title = "Cadastrar";
}

@section Scripts { 
    @Scripts.Render("~/bundles/js/visitante")   
}

<h2>@ViewBag.Title</h2>

<div class="ui confirmar modal">
    <i class="close icon"></i>
    <div class="header">Verifique e confirme</div>
    <div class="content">
        <div class="ui form"></div>
    </div>
    <div class="actions">
        <div class="ui cancel button">Voltar</div>
        <div class="ui approve button">Continuar</div>
    </div>
</div>

<form action="@Url.Action("Confirmar")" method="post" class="ui form">
    <div class="field">
        <div class="ui dividing header">Informações Pessoais</div>
        <div class="fields">
            <div class="twelve wide field required">
                <label>Nome</label>
                <input type="text" name="txtNome" placeholder="Nome" required />
            </div>
            <div class="four wide field required">
                <label>CPF</label>
                <input type="text" name="txtCpf" data-mask="000.000.000-00" placeholder="CPF" required />
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Data de Nascimento</label>
                <input type="date" name="txtDtNasc" data-mask="0000-00-00" />
            </div>
            <div class="field">
                <label>Sexo</label>
                <select name="ddlSexo" class="ui dropdown">
                    <option value="">Sexo</option>
                    <option value="F">Feminino</option>
                    <option value="M">Masculino</option>
                    <option value="N">Outro</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="ui dividing header">Informações de Acesso</div>
        <div class="field">
            <label>Data de Validade</label>
            <div class="two fields">
                <div class="field">
                    <div class="ui basic segment">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="chkDtValidade">
                            <label>Possui data de validade</label>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <input type="date" name="txtDtValidade" data-mask="0000-00-00" placeholder="Data de Validade" disabled />
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="ui cancelar button" tabindex="0">Cancelar</div>
        <div class="ui popup">
            <div class="header">Tem certeza?</div>
            <div class="content">Você perderá todos os dados informados.</div>
            <div class="content"><a href="@Url.Action("Index")" class="ui small button">Sim, cancelar</a></div>
        </div>
        <div class="ui continuar button" tabindex="0">Continuar</div>
    </div>
</form>
