
@{
    ViewBag.Title = "Controle de Visitantes";
}

@section Scripts {
    @Scripts.Render("~/bundles/js/visitante")
}

<h2>
    @ViewBag.Title
    <a href="@Url.Action("Cadastrar")" class="ui right floated button">Cadastrar</a>
</h2>

<div class="ui stackable grid" style="clear:both">
    <div class="sixteen wide column">
        <div class="ui fluid icon pesquisa input">
            <input type="text" placeholder="Pesquisar..." />
            <i class="search icon"></i>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui text menu" style="margin-bottom:0">
            <div class="header item">Ordenar</div>
            <a class="active ordenar item" data-ordenar="data_desc">
                Mais recentes
            </a>
            <a class="ordenar item" data-ordenar="data">
                Mais antigos
            </a>

            <div class="header item">Categoria</div>
            <a class="categoria item" data-categoria="ativo">
                Ativo
            </a>
            <a class="categoria item" data-categoria="inativo">
                Inativo
            </a>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui basic segment">
            <table class="ui table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cadastro</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td><a class="ui carregar button">Carregar mais</a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="ui right floated icon button topo"><i class="icon angle up"></i></div>
    </div>
</div>