
@{
    ViewBag.Title = "Cadastrar Questão";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {    
    <script>
        $('.ui.checkbox').checkbox();
        $('.ui.accordion').accordion();
        $('.ui.dropdown').dropdown();
        $('.tabular.menu .item').tab();
        $('.ui.modal').modal('show');
        
        function mostrarCamposPorTipo() {
            var tipo = $('#ddlTipo :selected').val();
            $('.questao').hide();
            if (tipo == 1) {
                $('.questao.objetiva').show();
                $('.segment.questao.objetiva').attr('style', '');
            }
            else if (tipo == 2) {
                $('.questao.discursiva').show();
            }
        }

        mostrarCamposPorTipo();
    </script>
} 

<div class="ui modal">
    <div class="header">Você está ciente de...</div>
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare ornare posuere. Aenean viverra metus vel arcu venenatis eleifend. Nunc arcu magna, placerat quis leo non, venenatis posuere dui. Nam id cursus massa, a luctus odio. Duis elementum euismod eleifend. Nulla nec lectus ut quam pellentesque dictum id in massa. Nulla in elit id justo scelerisque ornare sed at erat. Duis risus libero, volutpat vitae rutrum eu, rutrum nec nibh. Fusce commodo dapibus mattis.</p>
        <p>Nam dictum tempus magna, at lacinia neque posuere at. Maecenas dictum nulla ac neque efficitur, at sagittis turpis ornare. Mauris lobortis lorem vel fermentum volutpat. Pellentesque rutrum nibh vel erat blandit congue. Mauris euismod porta ligula nec eleifend. Nunc tempor mauris arcu, ut venenatis enim aliquet eu. Integer porta nisl id dapibus sagittis. Nam laoreet at quam feugiat efficitur. Donec eu lectus eget sem iaculis dapibus. Nullam non dui faucibus, gravida enim non, luctus nisl. Duis convallis risus eget purus suscipit sollicitudin. Curabitur non est nec quam ornare lobortis nec ut nibh.</p>
        <p>Vestibulum placerat auctor aliquam. Aliquam eros turpis, sodales in ornare ac, dapibus sed orci. Ut vitae rhoncus purus, sit amet faucibus est. Integer interdum lorem non tortor commodo, vel laoreet augue euismod. Donec condimentum sollicitudin suscipit. In fringilla nunc nec velit luctus, eget eleifend nisl pellentesque. Pellentesque consequat congue sagittis. Sed vestibulum quis ipsum id rhoncus. Praesent pulvinar, ipsum quis sagittis molestie, erat leo ultricies velit, ut aliquam nulla odio malesuada purus. Donec et venenatis risus. Phasellus velit libero, hendrerit ultrices maximus eget, semper ut tortor.</p>
    </div>
    <div class="actions">
        <a href="/Dashboard/Questao" class="ui cancel button">Cancelar</a>
        <div class="ui approve button">Sim, continuar</div>
    </div>
</div>

<h2>@ViewBag.Title</h2>

<form method="post" class="ui form">
    <div class="ui top attached tabular menu">
        <div class="active item" data-tab="tab-name">Gerais</div>
        <div class="item" data-tab="tab-name2">Detalhes</div>
        <div class="item questao objetiva" data-tab="tab-name3">Alternativas</div>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="tab-name">
        <div class="field">
            <label>Disciplina</label>
            <select class="ui search dropdown">
                <option value="">Disciplina</option>
                <option value="1">Matemática</option>
                <option value="2">Língua Portuguesa</option>
                <option value="3">Biologia</option>
            </select>            
        </div>
        <div class="field">
            <label>Tema</label>
            <select multiple class="ui multiple search dropdown">
                <option value="">Tema</option>
                <option value="1">Orações Coordenadas</option>
                <option value="2">Orações Subordinadas</option>
                <option value="3">Crase</option>
                <option value="4">Pretérito Perfeito</option>
                <option value="5">Presente Perfeito</option>
            </select>
        </div>
        <div class="field">
            <label>Dificuldade</label>
            <select class="ui search dropdown">
                <option value="">Dificuldade</option>
                <option value="1">Muito fácil</option>
                <option value="2">Fácil</option>
                <option value="3">Regular</option>
                <option value="4">Difícil</option>
                <option value="5">Muito difícil</option>
            </select>
        </div>
        <div class="field">
            <label>Tipo</label>
            <select id="ddlTipo" onchange="mostrarCamposPorTipo()" class="ui search dropdown">
                <option value="">Tipo</option>
                <option value="1">Objetiva</option>
                <option value="2">Discursiva</option>
            </select>
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="tab-name2">
        <div class="field">
            <label>Enunciado</label>
            <textarea rows="2"></textarea>
        </div>
        <div class="field">
            <label>Objetivo</label>
            <textarea rows="2"></textarea>
        </div>
        <div class="field questao discursiva">
            <label>Chave de Resposta</label>
            <textarea rows="2"></textarea>
        </div>
        <div class="field questao discursiva">
            <label>Comentário</label>
            <textarea rows="2"></textarea>
        </div>
    </div>
    <div class="ui bottom attached tab segment questao objetiva" data-tab="tab-name3">
        <div class="ui fluid accordion">
            <div class="active title">
                <i class="dropdown icon"></i>
                Alternativa 1
            </div>
            <div class="active content">
                <div class="field">
                    <label>Enunciado</label>
                    <textarea rows="2"></textarea>
                </div>
                <div class="field">
                    <label>Comentário</label>
                    <textarea rows="2"></textarea>
                </div>
                <div class="ui toggle checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Correta</label>
                </div>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Alternativa 2
            </div>
            <div class="content">
                <div class="field">
                    <label>Enunciado</label>
                    <textarea rows="2"></textarea>
                </div>
                <div class="field">
                    <label>Comentário</label>
                    <textarea rows="2"></textarea>
                </div>
                <div class="ui toggle checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Correta</label>
                </div>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Alternativa 3
            </div>
            <div class="content">
                <div class="field">
                    <label>Enunciado</label>
                    <textarea rows="2"></textarea>
                </div>
                <div class="field">
                    <label>Comentário</label>
                    <textarea rows="2"></textarea>
                </div>
                <div class="ui toggle checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Correta</label>
                </div>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Alternativa 4
            </div>
            <div class="content">
                <div class="field">
                    <label>Enunciado</label>
                    <textarea rows="2"></textarea>
                </div>
                <div class="field">
                    <label>Comentário</label>
                    <textarea rows="2"></textarea>
                </div>
                <div class="ui toggle checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Correta</label>
                </div>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Alternativa 5
            </div>
            <div class="content">
                <div class="field">
                    <label>Enunciado</label>
                    <textarea rows="2"></textarea>
                </div>
                <div class="field">
                    <label>Comentário</label>
                    <textarea rows="2"></textarea>
                </div>
                <div class="ui toggle checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Correta</label>
                </div>
            </div>
        </div>
    </div>
</form>

