@{
    ViewBag.Title = "Gerar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gerar</h2>

<div class="ui form">
    <div class="inline field">
        <label>Quantidade</label>
        <input id="txtQuantidade" type="number" min="1" value="10" />
        <div class="ui gerar button">Gerar</div>
    </div>
</div>
<div class="questoes" style="max-height:50em; overflow-y:auto; margin-top:1em">

</div>


<form action="/Dashboard/Questao/Gerar" method="post">
    <a href="/Historico/Questao" class="ui button">Voltar</a>
    <input type="submit" class="ui button" value="Inserir" />
</form>

