@{
    ViewBag.Title = "Minhas Questões";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script>
        $('.ui.cards').parent().addClass('loading');
        var jsnQuestoesGeral;
        var jsnQuestoesFiltro;

        $.getJSON(
            '/Historico/Questao/Minhas',
            function (questoes) {
                jsnQuestoesGeral = questoes;
                jsnQuestoesFiltro = questoes;
                MinhasQuestoes();
            }
        );

        function Filtro(strTexto) {
            if (strTexto) {
                strTexto = strTexto.toLowerCase().split(';');
                jsnQuestoesFiltro = [];
                for (var j = 0; j < strTexto.length; j++) {
                    strTexto[j] = strTexto[j].trim();
                    if (strTexto[j].indexOf('+') > -1) {
                        lstFiltro = jsnQuestoesGeral;
                        termos = strTexto[j].split('+');
                        for (var k = 0; k < termos.length; k++) {
                            termos[k] = termos[k].trim();
                            if (termos[k]) {
                                var lstFiltroAnd = [];
                                for (var i = 0; i < lstFiltro.length; i++) {
                                    if (lstFiltro[i].Enunciado.toLowerCase().indexOf(termos[k]) > -1) {
                                        lstFiltroAnd.push(lstFiltro[i]);
                                    }
                                    else if (lstFiltro[i].Disciplina.toLowerCase().indexOf(termos[k]) > -1) {
                                        lstFiltroAnd.push(lstFiltro[i]);
                                    }
                                    else if (lstFiltro[i].TipoQuestao.toLowerCase().indexOf(termos[k]) > -1) {
                                        lstFiltroAnd.push(lstFiltro[i]);
                                    }
                                    else if (lstFiltro[i].Dificuldade.toLowerCase().indexOf(termos[k]) > -1) {
                                        lstFiltroAnd.push(lstFiltro[i]);
                                    }
                                    else if (lstFiltro[i].DtCadastro.toLowerCase().indexOf(termos[k]) > -1) {
                                        lstFiltroAnd.push(lstFiltro[i]);
                                    }
                                    else {
                                        for (var l = 0; l < lstFiltro[i].Temas.length; l++) {
                                            if (lstFiltro[i].Temas[l].toLowerCase().indexOf(termos[k]) > -1) {
                                                lstFiltroAnd.push(lstFiltro[i]);
                                                break;
                                            }
                                        }
                                    }
                                }
                                lstFiltro = lstFiltroAnd;
                            }
                        }
                        jsnQuestoesFiltro = jsnQuestoesFiltro.concat(lstFiltro);
                    }
                    else if (strTexto[j]) {
                        for (var i = 0; i < jsnQuestoesGeral.length; i++) {
                            if (jsnQuestoesGeral[i].Enunciado.toLowerCase().indexOf(strTexto[j]) > -1) {
                                jsnQuestoesFiltro.push(jsnQuestoesGeral[i]);
                            }
                            else if (jsnQuestoesGeral[i].Disciplina.toLowerCase().indexOf(strTexto[j]) > -1) {
                                jsnQuestoesFiltro.push(jsnQuestoesGeral[i]);
                            }
                            else if (jsnQuestoesGeral[i].TipoQuestao.toLowerCase().indexOf(strTexto[j]) > -1) {
                                jsnQuestoesFiltro.push(jsnQuestoesGeral[i]);
                            }
                            else if (jsnQuestoesGeral[i].Dificuldade.toLowerCase().indexOf(strTexto[j]) > -1) {
                                jsnQuestoesFiltro.push(jsnQuestoesGeral[i]);
                            }
                            else if (jsnQuestoesGeral[i].DtCadastro.toLowerCase().indexOf(strTexto[j]) > -1) {
                                jsnQuestoesFiltro.push(jsnQuestoesGeral[i]);
                            }
                            else {
                                for (var k = 0; k < jsnQuestoesGeral[i].Temas.length; k++) {
                                    if (jsnQuestoesGeral[i].Temas[k].toLowerCase().indexOf(strTexto[j]) > -1) {
                                        jsnQuestoesFiltro.push(jsnQuestoesGeral[i]);
                                        break;
                                    }
                                }
                            }
                        }
                    }
                }

                var strCod = '';
                for (var i = 0; i < jsnQuestoesFiltro.length; i++) {
                    if (strCod.indexOf(jsnQuestoesFiltro[i].CodQuestao) == -1) {
                        strCod += jsnQuestoesFiltro[i].CodQuestao + ';';
                        continue;
                    }
                }
                var lstQuestoesTemp = jsnQuestoesFiltro;
                var strCodTemp = '';
                jsnQuestoesFiltro = [];
                for (var i = 0; i < lstQuestoesTemp.length; i++) {
                    if (strCodTemp.indexOf(lstQuestoesTemp[i].CodQuestao) == -1) {
                        if (strCod.indexOf(lstQuestoesTemp[i].CodQuestao) > -1) {
                            jsnQuestoesFiltro.push(lstQuestoesTemp[i]);
                            strCodTemp += lstQuestoesTemp[i].CodQuestao + ';';
                        }
                    }
                }
            }
            else {
                jsnQuestoesFiltro = jsnQuestoesGeral;
            }
            MinhasQuestoes();
        }

        function MinhasQuestoes(pagina) {
            $('.ui.cards').parent().addClass('loading');
            var qtePorPagina = 20;
            var qtePaginacao = 7;
            var length = jsnQuestoesFiltro.length;
            if (pagina == null) {
                pagina = 1;
            }
            var count = pagina * qtePorPagina;
            if (count > length) {
                count = length;
            }
            $('.ui.cards').html('');
            for (var i = ((qtePorPagina * pagina) - qtePorPagina) ; i < count; i++) {
                $('.ui.cards').append('\
                        <a class="ui card" href="/Historico/Questao/' + jsnQuestoesFiltro[i].CodQuestao + '">\
                            <div class="content">\
                                <div class="header">' + ToShortString(jsnQuestoesFiltro[i].Enunciado, 140) + '</div>\
                                <div class="meta"><span title="' + jsnQuestoesFiltro[i].DtCadastro + '">' + jsnQuestoesFiltro[i].DtCadastroTempo + '</span></div>\
                                <div class="description ui labels">\
                                    <span class="ui label">' + jsnQuestoesFiltro[i].Disciplina + '</span>\
                                    <span class="ui label">' + jsnQuestoesFiltro[i].Dificuldade + '</span>\
                                    <span class="ui label">' + jsnQuestoesFiltro[i].TipoQuestao + '</span>\
                                </div>\
                            </div>\
                        </a>\
                        ');
            }
            $('.ui.pagination.menu').html('');
            var i = pagina - 3;
            for (i; i <= (Math.ceil(length / qtePorPagina)) - 3 && $('.ui.pagination.menu .item').length < 5; i++) {
                if (i < 1) {
                    continue;
                }
                if (i == pagina) {
                    $('.ui.pagination.menu').append('<a class="active item" onclick="MinhasQuestoes(' + i + ')">' + i + '</a>');
                    continue;
                }
                $('.ui.pagination.menu').append('<a class="item" onclick="MinhasQuestoes(' + i + ')">' + i + '</a>');
            }
            if ($('.ui.pagination.menu .item').length < 5) {
                for (i; $('.ui.pagination.menu .item').length < 5 && i <= (Math.ceil(length / qtePorPagina)) ; i++) {
                    if (i < 1) {
                        continue;
                    }
                    if (i == pagina) {
                        $('.ui.pagination.menu').append('<a class="active item" onclick="MinhasQuestoes(' + i + ')">' + i + '</a>');
                        continue;
                    }
                    $('.ui.pagination.menu').append('<a class="item" onclick="MinhasQuestoes(' + i + ')">' + i + '</a>');
                }
                if (pagina == (Math.ceil(length / qtePorPagina))) {
                    if (!((i - 5) < 1)) {
                        $('.ui.pagination.menu').prepend('<a class="item" onclick="MinhasQuestoes(' + (i - 5) + ')">' + (i - 5) + '</a>');
                    }
                }
            }
            $('a[href]').on('click', function () { $('.ui.grid .thirteen.wide.column > .ui.segment').addClass('loading') });
            $('.ui.cards').parent().removeClass('loading');
        }
    </script>
}

<h2>@ViewBag.Title <a class="ui right floated button" href="/Dashboard/Questao/Cadastrar">Cadastrar</a></h2>
<div class="ui fluid icon input">
    <input type="text" placeholder="Filtrar..." onkeyup="Filtro($(this).val())" />
    <i class="search icon"></i>
</div>
<br />
<div class="ui two cards"></div>
<br />
<div class="ui pagination menu"></div>