@{
    ViewBag.Title = "Minhas Questões";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title <a class="ui right floated button" href="/Dashboard/Questao/Cadastrar">Cadastrar</a></h2>
<div class="ui fluid icon filtro input">
    <input type="text" placeholder="Filtrar..." />
    <i class="search icon"></i>
</div>
<div class="ui basic segment">
    <div class="ui two stackable cards"></div>
</div>

<div class="ui pagination menu"></div>

@section Scripts {
    @Scripts.Render("~/bundles/js/questao")    
}