@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <style>
        .dashmenu > div.row > div.column {
            padding: 1.5em 0.5em;
        }
    </style>
}

<h2>@ViewBag.Title</h2>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">
        <div class="column aligned center">
            <a href="/Dashboard/Autoavaliacao/Realizar">
                <div class="ui icon header">
                    <i class="file outline icon"></i>
                        Realizar Autoavaliação
                </div>
            </a>
        </div>
        @if ((int)Session["UsuarioCategoriaCodigo"] == 2)
        {
            <div class="column aligned center">
                <a href="/Historico/Avaliacao/Academica/">
                    <div class="ui icon header">
                        <i class="file icon"></i>
                        Agendar Avaliação Acadêmica
                    </div>
                </a>
            </div>
        }
        @if ((int)Session["UsuarioCategoriaCodigo"] == 2 || (int)Session["UsuarioCategoriaCodigo"] == 3)
        {
            <div class="column aligned center">
                <a href="/Dashboard/Avaliacao/Certificacao/Agendar">
                    <div class="ui icon header">
                        <i class="file text icon"></i>
                        Agendar Avaliação de Certificação
                    </div>
                </a>
            </div>
        }
        @if ((int)Session["UsuarioCategoriaCodigo"] == 2)
        {
            <div class="column aligned center">
                <a href="/Dashboard/Questao/Cadastrar">
                    <div class="ui icon header">
                        <i class="add circle icon"></i>
                        Cadastrar Questão
                    </div>
                </a>
            </div>
        }
        @if ((int)Session["UsuarioCategoriaCodigo"] == 2)
        {
            <div class="column aligned center">
                <a href="/Historico/Questao">
                    <div class="ui icon header">
                        <i class="book icon"></i>
                        Minhas Questões
                    </div>
                </a>
            </div>
        }
        @if ((int)Session["UsuarioCategoriaCodigo"] == 1)
        {
            <div class="column aligned center">
                <a href="/Historico/Avaliacao/Academica">
                    <div class="ui icon header">
                        <i class="calendar icon"></i>
                        Avaliações Agendadas
                    </div>
                </a>
            </div>
        }
        @if ((int)Session["UsuarioCategoriaCodigo"] == 1 || (int)Session["UsuarioCategoriaCodigo"] == 2 || (int)Session["UsuarioCategoriaCodigo"] == 3)
        {
            <div class="column aligned center">
                <a href="/Historico/Autoavaliacao">
                    <div class="ui icon header">
                        <i class="folder icon"></i>
                        Autoavaliações Salvas
                    </div>
                </a>
            </div>
        }
        <div class="column aligned center">
            <a href="/Perfil">
                <div class="ui icon header">
                    <i class="user icon"></i>
                    Ver Perfil
                </div>
            </a>
        </div>
        <div class="column aligned center">
            <a href="/Historico">
                <div class="ui icon header">
                    <i class="wait icon"></i>
                        Ver Histórico
                </div>
            </a>
        </div>
    </div>
</div>
