/* global */
.vertical.menu .item {
    padding-top: 1.2em !important;
    padding-bottom: 1.2em !important;
}

.breadcrumb .section {
    text-transform: capitalize;
}

.ui.segment {
    border-radius: 0;
}

@media only screen and (max-width: 700px) {
    .vertical.menu {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: row !important;
        -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
        flex-direction: row !important;
    }

        .vertical.menu .item {
            display: inline-flex !important;
            height: auto !important;
            text-align: center !important;
        }

            .vertical.menu .item .icon {
                margin: 0 !important;
            }

            .vertical.menu .item .content {
                display: none !important;
            }

    .menu .item.text {
        display: none !important;
    }
}

/* dashboard */
.dashmenu {
    clear: both;
}

    .dashmenu > div.row > div.column {
        padding: 1.5em 0.5em;
    }

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.32);
}

/* helpers */
.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.hover-opacity-7 {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

    .hover-opacity-7:hover {
        opacity: 0.7;
    }