@model QuestaoAnexo
<a class="ui anexo imagem card">
    <div class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui inverted button">Expandir</div>
                </div>
            </div>
        </div>
        <img src="@Model.Anexo.GetImageSource()" />
    </div>
    @if(!StringExt.IsNullOrEmpty(Model.Legenda, Model.Fonte)) {
    <div class="content">
        <div class="header">
            @Model.Legenda
        </div>
        @if (!String.IsNullOrWhiteSpace(Model.Fonte))
        {
            <div class="description" @Html.Raw((Model.Fonte.Length > 30 ? "data-fonte=\"" + Model.Fonte + "\"" : ""))>
                @Model.Fonte.ToShortString(30)
            </div>
        }
    </div>
    }
</a>