<div class="ui apresentacao modal">
    <div class="header">@Sessao.UsuarioNome.Split().First(), deixe-me falar um pouco sobre o sistema</div>
    <div class="content">
        <h3>A concepção da ideia</h3>
        <p>Integer at felis rhoncus, congue lectus sit amet, euismod magna. Sed pretium id elit sit amet bibendum. Sed ultricies nulla lectus, lacinia dignissim nulla vehicula et. Cras pharetra vel risus dignissim interdum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In venenatis maximus dui at tincidunt. Nulla vehicula sem fringilla aliquet pretium. Aenean accumsan rutrum convallis. Sed aliquam nulla vitae auctor pharetra. Praesent euismod vitae est sed viverra. Aliquam id posuere leo, vitae mollis quam.</p>
        <h4>Foi pensando em você</h4>
        <p>Luctus sit amet risus quis, posuere feugiat augue. Duis purus dolor, sagittis et rhoncus ac, tristique sed nunc. Mauris pellentesque, urna vitae molestie aliquam, nibh nunc fermentum orci, non dictum diam libero ac velit. Sed ac laoreet nunc. Proin sit amet felis nulla. Phasellus lacus lacus, mattis nec mi eget, varius viverra est. Nulla egestas ut eros et tincidunt. Proin mollis justo vel ante vulputate suscipit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis facilisis tempor erat eget pharetra. Donec ac dolor volutpat, eleifend lorem sit amet, vestibulum eros. Vestibulum egestas eros orci, id ornare turpis dictum nec. Nam imperdiet, quam at posuere placerat, ante quam venenatis leo, eget dictum nibh ipsum vel erat. Pellentesque ultrices interdum ex, eu lobortis enim dictum nec. Pellentesque malesuada pharetra magna, vitae efficitur augue lobortis nec.</p>
        <h4>E na instituição</h4>
        <p>Quisque viverra ornare enim a blandit. Fusce eget ipsum condimentum, pellentesque diam et, efficitur elit. Donec eu neque eu ipsum feugiat porttitor at sit amet enim. Curabitur et iaculis quam, non auctor est. Donec euismod velit at ante scelerisque consectetur. Sed eu vestibulum metus. Vivamus non turpis ac ante rutrum pulvinar vitae ut dolor. In at nibh enim. Nullam convallis accumsan dui, eu cursus lorem convallis at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
    </div>
    <div class="actions">
        <div class="ui approve button">Entendi</div>
    </div>
</div>
