@model AvaliacaoIndexViewModel

@{
    ViewBag.Title = "Autoavaliações Salvas";
}

<h2>@ViewBag.Title <a class="ui right floated button" href="@Url.Action("Gerar")">Gerar Nova</a></h2>

@Html.Partial("_AvaliacaoIndex")

@section Scripts {
    @Scripts.Render("~/bundles/js/autoavaliacao")
}