
@{
    ViewBag.Title = "Realizar autoavaliacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
    
<a href="~/Dashboard/Autoavaliacao/Gerar" class="ui button green">Gerar</a>
