<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="dbb4ddc0cff41b43319b64a50f01243a8cConnectionString" connectionString="Data Source=b4ddc0cf-f41b-4331-9b64-a50f01243a8c.sqlserver.sequelizer.com;Initial Catalog=dbb4ddc0cff41b43319b64a50f01243a8c;User ID=ciwhsoztttvycomt;Password=2n7FMCbFxBLwkU7wgUsYX7cwqyYot72WwxZTfBrKsu2p4GHaWB2toL54jHpoLVmz" providerName="System.Data.SqlClient" />
    <add name="dbb4ddc0cff41b43319b64a50f01243a8cEntities" connectionString="metadata=res://*/Models.dbSIAC.csdl|res://*/Models.dbSIAC.ssdl|res://*/Models.dbSIAC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=b4ddc0cf-f41b-4331-9b64-a50f01243a8c.sqlserver.sequelizer.com;initial catalog=dbb4ddc0cff41b43319b64a50f01243a8c;user id=ciwhsoztttvycomt;password=2n7FMCbFxBLwkU7wgUsYX7cwqyYot72WwxZTfBrKsu2p4GHaWB2toL54jHpoLVmz;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbSIACEntities" connectionString="metadata=res://*/Models.dbSIAC.csdl|res://*/Models.dbSIAC.ssdl|res://*/Models.dbSIAC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=b4ddc0cf-f41b-4331-9b64-a50f01243a8c.sqlserver.sequelizer.com;initial catalog=dbb4ddc0cff41b43319b64a50f01243a8c;user id=ciwhsoztttvycomt;password=2n7FMCbFxBLwkU7wgUsYX7cwqyYot72WwxZTfBrKsu2p4GHaWB2toL54jHpoLVmz;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>