@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@

@{
    ViewBag.Title = "Histórico de Av. Institucional";
}

<h2>
    @ViewBag.Title
    @if (Sessao.UsuarioCategoriaCodigo == Categoria.COLABORADOR)
    {
        <a class="ui right floated button" href="@Url.Action("Gerar")">Gerar</a>
    }
</h2>

<div class="ui stackable grid" style="clear:both">
    <div class="sixteen wide column no-padding-bottom">
        <div class="ui secondary segment">
            <div class="ui stackable grid">
                <div class="six wide column">
                    <h3>Pesquisar</h3>
                    <div class="ui fluid icon pesquisa input">
                        <input type="text" placeholder="Pesquisar..." />
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="ten wide column">
                    <h3>Filtros</h3>
                    <div class="ui secondary menu" style="margin-bottom:0">
                        <div class="ui dropdown item">
                            Ordenar
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="active ordenar item" data-ordenar="data_desc">
                                    Mais recentes
                                </a>
                                <a class="ordenar item" data-ordenar="data">
                                    Mais antigas
                                </a>
                            </div>
                        </div>
                        <div class="ui dropdown item">
                            Categoria
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="categoria item active" data-categoria="">Todas</a>
                                <a class="categoria item" data-categoria="gerada">
                                    Gerada
                                </a>
                                <a class="categoria item" data-categoria="andamento">
                                    Andamento
                                </a>
                                <a class="categoria item" data-categoria="concluida">
                                    Concluída
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui basic segment">
            <div class="ui two stackable cards">
            </div>
        </div>
        <div class="ui right floated icon button topo"><i class="icon angle up"></i></div>
    </div>
</div>  

@section Scripts {
    @Scripts.Render("~/bundles/js/institucional")
}
