@model AvaliacaoIndexViewModel

@{
    ViewBag.Title = "Histórico de Reposições";
}

<h2>
    @ViewBag.Title 
</h2>

@Html.Partial("_AvaliacaoIndex")

@section Scripts{
    @Scripts.Render("~/bundles/js/reposicao")
}