@{
    ViewBag.Title = "Agendamentos";
}

@section Styles {
    @Styles.Render("~/bundles/fullcalendar/css")    
}

<h2>@ViewBag.Title</h2>

<div id="calendar"></div>

@section Scripts{
    @Scripts.Render("~/bundles/fullcalendar/js", "~/bundles/js/agenda")
}
