
@{
    ViewBag.Title = "Configurações";
}

<h2>@ViewBag.Title</h2>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">
        @Html.Partial("_Atalho", new ViewDataDictionary() {
            { "Url", Url.Action("Parametros") },
            { "Icone", "options" },
            { "Descricao", "Parâmetros" }
        })
    </div>
</div>