
@{
    ViewBag.Title = "Configurações";
}

<h2>@ViewBag.Title</h2>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">
        @if (Sessao.UsuarioCategoriaCodigo == 3)
        {
            Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Index", "Usuario") },
                { "Icone", "users" },
                { "Descricao", "Usuários" }
            });
            Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Parametros") },
                { "Icone", "options" },
                { "Descricao", "Parâmetros" }
            });
            Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Index", "Visitante") },
                { "Icone", "spy" },
                { "Descricao", "Visitantes" }
            });
            Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Opinioes") },
                { "Icone", "bookmark" },
                { "Descricao", "Abrir Opiniões" }
            });
        }
        @if (Sistema.UsuarioAtivo[Sessao.UsuarioMatricula].Usuario.FlagCoordenadorAvi)
        {
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Institucional", new { tab = "Coordenadores" }) },
                { "Icone", "doctor" },
                { "Descricao", "Coordenadores de Av. Institucional" }
            });
        }        
    </div>
</div>