@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model GerenciaEditarColaboradorViewModel

<i class="icon close"></i>
<div class="header">
    Editar Colaborador "@Model.Colaborador.Usuario.PessoaFisica.Nome"
</div>
<div class="content">
    <div class="ui form">
        <div class="field required">
            <label data-ajuda="">Informe o nome completo</label>
            <input type="text" name="txtNome" placeholder="Nome" maxlength="100" required value="@Model.Colaborador.Usuario.PessoaFisica.Nome" />
        </div>
    </div>
</div>
<div class="actions">
    <input type="reset" value="Cancelar" class="ui cancel button" />
    <button type="submit" class="ui button">Salvar</button>
</div>
