@model Usuario
@{
    ViewBag.Title = "Avaliação Institucional";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">
        
        @if (Model.CodCategoria == 3)
        {
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Gerar") },
                { "Icone", "file text outline" },
                { "Descricao", "Gerar Nova" }
            })

            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Configuracao") },
                { "Icone", "settings" },
                { "Descricao", "Configurar" }
            })
        }

        @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Historico") },
                { "Icone", "file text outline" },
                { "Descricao", "Histórico de Av. Institucional" }
            })

    </div>
</div>
