
@model List<Questao>
<div class="ui parentQuestao vertical segment">
    <div class="ui header dividing">
        Questões
    </div>
    <div class="ui form">
        @for (int i = 0; i < Model.Count; i++)
            {
            <div class="questao">
                <div class="ui header" style="text-align:justify">
                    @Html.Raw((i.GetIndiceQuestao() + ". " + Model[i].Enunciado).ToHtml("p"))
                </div>

                @if (Model[i].CodTipoQuestao == 1)
                {
                    <div class="grouped fields">
                        <label>Marque a alternativa</label>
                        @{ var lstAlternativa = Model[i].EmbaralharAlternativa(); }
                        @for (int j = 0; j < lstAlternativa.Count; j++)
                        {
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" />
                                    <label><b>@j.GetIndiceAlternativa()</b>) @lstAlternativa[j].Enunciado</label>
                                </div>
                            </div>
                        }
                    </div>
                            }
                            else
                            {
                                <div class="field">
                                    <label>Resposta</label>
                                    <textarea></textarea>
                                </div>
                            }

                @if (Model[i].QuestaoAnexo.Count > 0)
                {
                    <div class="field">
                        <label>Anexos</label>
                        @foreach (var anexo in Model[i].QuestaoAnexo)
                        {
                            @Html.Partial("_AnexoImpressao", anexo);
                        }
                    </div>
                }
            </div>
                            }
    </div>
</div>
