@model AvaliacaoIndexViewModel

@{
    ViewBag.Title = "Histórico de Certificações";
}

<h2>
    @ViewBag.Title
    @if (Sessao.UsuarioCategoriaCodigo == Categoria.PROFESSOR)
    {
        <a class="ui right floated button" href="@Url.Action("Gerar")">Gerar Nova</a>
    }
</h2>

@Html.Partial("_AvaliacaoIndex")

@section Scripts{
    @Scripts.Render("~/bundles/js/certificacao")
}