
@{
    ViewBag.Title = "Avaliação de Certificação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @ViewBag.Title
    <a href="/Dashboard/Avaliacao/Certificacao/Gerar" class="ui right floated button">
        Gerar
    </a>
</h2>

