@{ int passo = (int)ViewData["Passo"]; }

<div class="ui four fluid ordered steps">
    <div class="@(passo > 1 ? "completed" : passo == 1 ? "active" : "") step">
        <div class="content">
            <div class="title">Dados</div>
            <div class="description">Cadastro de dados gerais do simulado</div>
        </div>
    </div>
    <div class="@(passo > 2 ? "completed" : passo == 2 ? "active" : "") step">
        <div class="content">
            <div class="title">Provas</div>
            <div class="description">Gerencie as provas do simulado</div>
        </div>
    </div>
    <div class="@(passo == 3 ? "active" : "") step">
        <div class="content">
            <div class="title">Datas</div>
            <div class="description">Defina as datas das provas do simulado</div>
        </div>
    </div>
    <div class="@(passo == 4 ? "active" : "") step">
        <div class="content">
            <div class="title">Salas</div>
            <div class="description">Selecione as salas que serão utilizadas no simulado</div>
        </div>
    </div>
</div>
