@model List<SimCandidatoProva>

<div class="ui form segment">
    <h3 class="header">Candidatos</h3>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Quantidade de Acertos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SimCandidatoProva candidato in Model)
            {
                <tr>
                    <td>@candidato.SimCandidato.Candidato.Nome</td>
                    <td>@candidato.SimCandidato.Candidato.Cpf</td>
                    <td>
                        <div class="ui field">
                            <input type="number" name="@candidato.CodCandidato" value="@candidato.QteAcertos" placeholder="Informe a quantidade de acertos do candidato" />
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>